<header>
	<h2>Questions</h2>
</header>

<section id="content" class="clear">
	<form class="questions" method="post" action=<%= lesson_pages_questions_path %>>
		<% @questions.each do |q| %>
			<div class="question <% if q.correct == "true" %>correct<% elsif q.correct == "false" %>incorrect<% end %>">
				<h3><%= q.question %></h3>

				<% q.answers.each do |a| %>
					<div class="answer">
						<%= radio_button_tag q.id, a.id %>
						<%= a.answer %>
					</div>
				<% end %>
			</div>
		<% end %>

		<%= submit_tag("Check answers") %>

		<div class="clear"></div>
	</div>
</section>